<div id="aboutPD" class="jumbotron">
	<div class="container">
		<h3>What is <span class="price">priceDig?</h3><p></p>
		<ul>
			<li>
				<span class="price">priceDig</span> helps you to <strong>compare prices before you buy</strong> a product.
			</li>
			<li>
				<span class="price">priceDig</span> reduces the hassle of visiting multiple websites to <strong>compare prices before you buy</strong> a product.
			</li>
			<li>
				<span class="price">priceDig</span> does not sell any products.
			</li>
			<li>
				<span class="price">priceDig</span> does not own any of the products listed in this website.
			</li>
		</ul><p></p>
	</div>
	<div class="back" ng-click="goBack();">
		 <span>Back</span>
	</div>
</div>
